:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 600px;
}

.heading {
  margin-top: 5px;
  text-align: center;
}

.input {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  inline-size: 100%;
}
